<h1>Create New Employee</h1>

<a [routerLink]="['/employees']" class="btn btn-primary" > <i class="glyphicon glyphicon-th-list"></i> Users List </a> <br/> <br/>
<form >
        <table class="table" >

                <tr> <td align="right" > Name:</td> 
                    <td><input type="text"  [(ngModel)]="employee.name"  name="name" class="form-control" placeholder="Name" > 
                        <div  *ngIf="errors.name" style="color:red;">{{errors.name}}</div>
                     </td> </tr>
                <tr> <td align="right" > E-mail:</td> <td> <input type="text" [(ngModel)]="employee.email" name="email" class="form-control" placeholder="E-mail"  >  
                    <div  *ngIf="errors.email" style="color:red;">{{errors.email}}</div>
                </td> </tr>
                <tr> <td align="right" ></td> <td align="right"><button type="submit" class="btn btn-primary" (click)="create(employee)"  > Save </button>  </td> </tr>
            
            </table>
</form>
