<h1>Employees </h1>

<a [routerLink]="['/employees/create']" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> Create </a> <br/>
<br/>

<div class="table-responsive">
  <table border="0" class="table">
    <tr>
      <th><a (click)="sort('name');">Name</a></th>
      <th><a (click)="sort('email');" >E-mail</a></th>
      <th colspan="3" rowspan="2">Actions</th>
    </tr>
    <tr  >
      <td> <input type="text" class="form-control" [(ngModel)]="search_data.name"  (keyup)="search()"   name="name" placeholder="Name" > </td>
      <td> <input type="text" class="form-control" [(ngModel)]="search_data.email"  name="email" (keyup)="search()"  placeholder="E-mail" > </td>
    </tr>
    <tr *ngFor="let employee of this.listData" >
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td><a [routerLink]="['/employees/update/',employee.id]" class="btn btn-primary"> <i class="glyphicon glyphicon-pencil"></i>
        Update</a>
      </td>
      <td><a [routerLink]="['/employees/',employee.id]" class="btn btn-primary"> <i class="glyphicon glyphicon-eye-open"></i>
        View</a>
      </td>
      <td><a (click)="deleteEmployee(employee.id)" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i>  Delete</a> </td>
    </tr>
  </table>
</div>

<a  (click)="loadMore()" *ngIf="listData.length<totalCount" class="btn btn-primary"> <i class="glyphicon glyphicon-th-list"></i> Load More..</a> 

<!--
<ul class="pagination">
  <li style="display:inline;">
    <a href="#"><span aria-hidden="true"> Prev</span> </a>

  </li>

  <li style="display:inline;"><a href="#">1</a></li>
  <li style="display:inline;"><a href="#">2</a></li>
  <li style="display:inline;"><a href="#">3</a></li>
  <li style="display:inline;"><a href="#">4</a></li>
  <li style="display:inline;"><a href="#">5</a></li>

  <li style="display:inline;">
    <a href="#" aria-label="Next"><span aria-hidden="true"> Next</span> </a>
  </li>

</ul>
-->