<div class="col-md-4 col-md-offset-4 ">


  <h1>Signup</h1>
  <form action="/">
  <table class="table" border="0">

      <tr>
        <td align="right">Username:</td>
        <td>
          <input type="text" [(ngModel)]="user.username"  name="username" class="form-control" placeholder="Username">
          <div  *ngIf="errors.username" style="color:red;">{{errors.username}}</div>
        </td>
      </tr>
      <tr>
        <td align="right">E-mail:</td>
        <td><input type="text" [(ngModel)]="user.email" name="email"  class="form-control" placeholder="Email">
          <div  *ngIf="errors.email" style="color:red;">{{errors.email}}</div>
        </td>
      </tr>
      <tr>
        <td align="right">Password:</td>
        <td><input type="password" [(ngModel)]="user.password" name="password"  class="form-control" placeholder="Password">
          <div  *ngIf="errors.password" style="color:red;">{{errors.password}}</div>

        </td>
      </tr>
      <tr>
        <td align="right"></td>
        <td align="right">
          <button type="submit" class="btn btn-primary" (click)="createUser(user)"  >Signup</button>
        </td>
      </tr>

  </table>
  </form>
</div>
